## Pandas Exercises

### Creating a pandas DataFrame

You can create a DataFrame from a dictionary or a list of lists.

In [1]:
import pandas as pd

data = {
    "Index": [10, 11, 12, 13, 14, 15, 16],
    "Name": ["Pedro", "Maria", "Janaina", "Wong", "Roberto", "Marco", "Paula"],
    "Idade": [34, 59, 68, 89, 98, 61, 44],
    "Nota": [15, 12, 18, 17, 19, 14, 16],
    "Cidade": ["Sao Paulo", "Sao Paulo", "Rio de Janeiro", "Brasilia", "Salvador", "Curitiba", "Belo Horizonte"]
}

df = pd.DataFrame(data)
print(df)

   Index     Name  Idade  Nota          Cidade
0     10    Pedro     34    15       Sao Paulo
1     11    Maria     59    12       Sao Paulo
2     12  Janaina     68    18  Rio de Janeiro
3     13     Wong     89    17        Brasilia
4     14  Roberto     98    19        Salvador
5     15    Marco     61    14        Curitiba
6     16    Paula     44    16  Belo Horizonte

Alternatively, you can create a DataFrame from a list of dictionaries.

In [2]:
import pandas as pd

data = [
    {"Index": 10, "Name": "Pedro", "Idade": 34, "Nota": 15, "Cidade": "São Paulo"},
    {"Index": 11, "Name": "Maria", "Idade": 59, "Nota": 12, "Cidade": "Rio de Janeiro"},
    {"Index": 12, "Name": "Janaina", "Idade": 68, "Nota": 18, "Cidade": "Belo Horizonte"},
    {"Index": 13, "Name": "Wong", "Idade": 89, "Nota": 17, "Cidade": "Curitiba"},
    {"Index": 14, "Name": "Roberto", "Idade": 98, "Nota": 19, "Cidade": "Porto Alegre"},
    {"Index": 15, "Name": "Marco", "Idade": 61, "Nota": 14, "Cidade": "Salvador"},
    {"Index": 16, "Name": "Paula", "Idade": 44, "Nota": 16, "Cidade": "Fortaleza"}
]

df = pd.DataFrame(data)
print(df)

   Index     Name  Idade  Nota          Cidade
0     10    Pedro     34    15       São Paulo
1     11    Maria     59    12  Rio de Janeiro
2     12  Janaina     68    18  Belo Horizonte
3     13     Wong     89    17        Curitiba
4     14  Roberto     98    19    Porto Alegre
5     15    Marco     61    14        Salvador
6     16    Paula     44    16       Fortaleza

### Writing to a CSV file

You can write a DataFrame to a CSV file using the `to_csv` method. 

- using the `index` parameter, you can specify whether to write the index to the CSV file.
- using the `header` parameter, you can specify whether to write the header to the CSV file.

In [3]:
## int this case we remove the index, but will keep the header
## we will however specify the separator as a tab

df.to_csv('data.csv', index=False, sep='\t')

### Reading from a CSV file

You can read a CSV file into a DataFrame using the `read_csv` function. 

- make sure the you are using the correct separator. The default is a comma `,`.

In [4]:
df = pd.read_csv('data.csv', sep='\t')

### Exercise 1

- Write and read the DataFrame `df` using the `;` separator. Change the name of the file. 

- Extract the first 3 rows of the column `Cidade` from the DataFrame `df`.

In [5]:
# your code here

### Accessing Data in a DataFrame

You can access data in a DataFrame using the `iloc` and `loc` methods.

- Use the `iloc` method to access data by integer location, e.g. `df.iloc[0, 0]`.
- Use the `loc` method to access data by label, e.g. `df.loc[0, 'column_name']`.

remember that you can use slices.

### Exercise 2

What is the Cidade of the first row in the DataFrame `df`?

In [6]:
## your code here

:

### Iterating over a DataFrame

You can iterate over a DataFrame using the `iterrows` method.

### Exercise 3

Iterate over the DataFrame `df` and print the `Cidade` and `Estado` of each row.


### Exercise 4 

Given the following `Student` object, iterate over the DataFrame `df` and create a list of `Student` objects.

```python

class Student:
    def __init__(self, cidade, estado):
        self.cidade = cidade
        self.estado = estado
    
    def __str__(self):
        return f"{self.cidade} - {self.estado}"


```